{% extends "base.html" %}

{% block content %}

  <h1>INDEX PAGE</h1>
  <hr>
  {% comment %} {% if user.is_authenticated  %} {% endcomment %}
  {% comment %} <h3>{{user.username}}님 안녕하세요</h3> {% endcomment %}
  {% comment %} <hr>     {% endcomment %}
  <div class="row">
    {% for movie in movies %}      
      <div class="col-md-12 col-lg-6 mb-4">
        <div class="card">      
          <div class="card-header">
            <p>{{movie.title}}</p>
          </div>
          <div class="card-body">        
            <p class="card-text">{{movie.content}}</p>
            <a href="{% url "movies:detail" movie.pk %}" class="btn btn-primary">Detail</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% comment %} {% endif %} {% endcomment %}


{% endblock content %}