{% extends "base.html" %}

{% block content %}
<h1>메인페이지</h1>

{% if user.is_authenticated %}
<h2>{{user.username}}님 환영합니다.</h2>
{% comment %} <p>{{user}}</p> {% endcomment %}
<form action="{% url "accounts:logout" %}" method = 'POST'>
  {% csrf_token %}
  <input type="submit" value = '로그아웃'>
</form>
{% else %}
<p>로그인하세요</p>
<a href="{% url "accounts:login" %}" method = 'POST'>
  로그인  
</a>
{% endif %}


{% comment %} <a href="{% url "accounts:login" %}" method = 'POST'>로그인</a> {% endcomment %}


{% endblock content %}

