<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index</h1>
    {% for article in articles %}
    <p>글 번호 : {{article.pk}}</p>
    {% comment %} url 번호 지정할때 ,없이 변수 공백이후에 넣기 {% endcomment %}
    <a href="{% url "articles:detail" article.pk %}">
        <p>글 제목 : {{article.title}}</p>
    </a> 
    <p>글 내용 : {{article.content}}</p> 
    <hr>   
    {% endfor %}
</body>
</html>